<header>
    <nav th:fragment="header" class="navbar navbar-expand-lg cf-navbar-custom sticky-top">
        <div class="container-fluid">

            <div class="d-flex align-items-center">
                <a href="javascript:history.back();" class="nav-link p-0">
                    <i class="bi bi-arrow-left" style="font-size: 1.5rem;"></i>
                </a>
            </div>

            <div class="ms-auto me-auto text-center" style="position: absolute; top: 0.5rem; left: 50%; transform: translateX(-50%);">
                <h3 class="mb-0">
                    <a href="/"> <img src="/images/forestfull.svg" alt="chat forestfull" width="40"> </a>
                </h3>
            </div>

            <div class="d-flex align-items-center">
                <button class="navbar-toggler cf-navbar-toggler-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
                        style="padding: 0.25rem; border: 0;">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNav" style="width: 100%;">
                <ul class="navbar-nav ms-2 mb-2 mb-lg-0">
                    <li class="nav-item d-lg-none">
                        <a class="nav-link text-danger" href="#" onclick="handleLogout();">
                            <i class="bi bi-box-arrow-right me-1"></i> Logout
                        </a>
                        <hr class="dropdown-divider d-lg-none">
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/pages/rooms}"
                           th:classappend="${currentUri != null and currentUri.startsWith('/pages/rooms') ? 'active' : ''}">Chat Rooms</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link" th:href="@{/pages/admin/dashboard}"
                           th:classappend="${currentUri != null and currentUri.startsWith('/pages/admin') ? 'active' : ''}">Admin Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/document/privacy-policy.html" target="_blank" title="Privacy Policy">Privacy Policy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/document/terms.html" target="_blank" title="Terms of Use">Terms of Use</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                </ul>
            </div>

        </div>
    </nav>
</header>