<header>
    <nav th:fragment="header" class="navbar navbar-expand-lg cf-navbar-custom sticky-top">
        <div class="container-fluid">
            <div class="d-flex align-items-center">
                <a class="nav-link btn btn-sm" href="#" onclick="handleLogout();">
                    <img src="/images/logout.svg" width="30" alt="logout">
                </a>
            </div>

            <h3 class="mb-0 fw-bold text-center" style="color: var(--cf-accent-primary); font-family: 'Arial Black', sans-serif;">
                <img src="/images/forestfull.svg" alt="chat forestfull" width="40">
            </h3>

            <div class="d-flex align-items-center">
                <button class="navbar-toggler cf-navbar-toggler-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
                        style="padding: 0.25rem; border: 0px;">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="d-none d-lg-block" style="width: 50px;"></div>
            </div>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav ms-2 mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/pages/rooms}"
                       th:classappend="${currentUri != null and currentUri.startsWith('/pages/rooms') ? 'active' : ''}">Chat Rooms</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" th:href="@{/pages/admin/dashboard}"
                       th:classappend="${currentUri != null and currentUri.startsWith('/pages/admin') ? 'active' : ''}">Admin Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/document/privacy-policy.html" target="_blank" title="Privacy Policy">Privacy Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/document/terms.html" target="_blank" title="Terms of Use">Terms of Use</a>
                </li>
            </ul>

            <ul class="navbar-nav">
            </ul>
        </div>
    </nav>
</header>