<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.forestfull.chat.room.ChatRoomMapper">
    <resultMap id="MessageResultMap" type="com.forestfull.chat.ChatDTO$Message">
        <id property="id" column="id"/>
        <result property="roomId" column="room_id"/>
        <result property="type" column="type"/>
        <result property="message" column="message"/>
        <result property="createdAt" column="created_at"/>
        <result property="user.id" column="member_id"/>
        <result property="user.name" column="username"/>
        <result property="user.displayName" column="display_name"/>
        <result property="user.profileImage" column="profile_image"/>
    </resultMap>

    <select id="findAllRooms" resultType="com.forestfull.chat.ChatDTO$Room">
        SELECT id, name, created_by, created_at, updated_at
        FROM chat_forestfull.chat_room
        ORDER BY updated_at DESC
    </select>

    <select id="findRoomById" parameterType="long" resultType="com.forestfull.chat.ChatDTO$Room">
        SELECT id, name, created_by, created_at, updated_at
        FROM chat_forestfull.chat_room
        WHERE id = #{roomId}
    </select>

    <insert id="createRoom" parameterType="com.forestfull.chat.ChatDTO$Room" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO chat_forestfull.chat_room (name, created_by)
        VALUES (#{name}, #{createdBy})
    </insert>

    <delete id="deleteRoom" parameterType="long">
        DELETE FROM chat_forestfull.chat_room WHERE id = #{roomId}
    </delete>

    <select id="findParticipants" parameterType="long" resultMap="MessageResultMap">
        SELECT
            cp.room_id
            , m.id AS member_id
            , m.name AS username
            , m.display_name
            , m.profile_image
        FROM chat_forestfull.chat_participant cp
            JOIN chat_forestfull.member m ON cp.member_id = m.id
        WHERE cp.room_id = #{roomId}
    </select>

    <select id="isUserInRoom" resultType="boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN TRUE ELSE FALSE END
        FROM chat_forestfull.chat_participant
        WHERE room_id = #{roomId}
          AND member_id = #{memberId}
    </select>

    <insert id="addParticipant">
        INSERT INTO chat_forestfull.chat_participant (room_id, member_id, display_name, profile_image)
        SELECT #{roomId}, m.id, m.display_name, m.profile_image
        FROM chat_forestfull.member m
        WHERE m.id = #{memberId}
    </insert>

    <delete id="removeParticipant" parameterType="map">
        DELETE FROM chat_forestfull.chat_participant
        WHERE room_id = #{roomId}
          AND member_id = #{memberId}
    </delete>
</mapper>