<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.forestfull.domain.UserMapper">
    <!-- 회원 조회 by username -->
    <select id="findByUsername" resultType="com.forestfull.domain.User" parameterType="String">
        SELECT
            m.id
            , m.name AS username
            , m.password
            , m.roles
        FROM chat_forestfull.member m
        WHERE m.name = #{username}
    </select>

    <!-- 회원 ID 조회 by username -->
    <select id="findIdByUsername" resultType="long" parameterType="String">
        SELECT id FROM chat_forestfull.member WHERE member.name = #{username} LIMIT 1
    </select>

    <!-- 회원 생성 -->
    <insert id="save" parameterType="com.forestfull.member.MemberDTO$Member" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO chat_forestfull.member (name, password, roles, display_name, profile_image, created_by, updated_by)
        VALUES (#{name}, #{password}, #{roles}, #{displayName}, #{profileImage}, #{createdBy}, #{updatedBy})
    </insert>

    <!-- 모든 회원 조회 -->
    <select id="findAllUsers" resultType="com.forestfull.member.MemberDTO$Member">
        SELECT *
        FROM chat_forestfull.member
    </select>

    <!-- 회원 권한만 조회 -->
    <select id="findRolesByUsername" resultType="String" parameterType="String">
        SELECT roles
        FROM chat_forestfull.member
        WHERE name = #{username}
    </select>

    <!-- 회원 비밀번호 업데이트 -->
    <update id="updatePassword" parameterType="com.forestfull.domain.User">
        UPDATE chat_forestfull.member
        SET password = #{password},
            updated_at = CURRENT_TIMESTAMP,
            updated_by = #{updatedBy}
        WHERE id = #{id}
    </update>

    <!-- 회원 비밀번호 업데이트 -->
    <update id="updateRoles">
        UPDATE chat_forestfull.member
        SET roles = #{roles}
        WHERE id = #{id}
    </update>

    <!-- 회원 삭제 -->
    <delete id="deleteById" parameterType="long">
        DELETE FROM chat_forestfull.member
        WHERE id = #{id}
    </delete>
</mapper>